* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    width: 100%;
}
header 
{
    display: flex;
}
.container {
    background: linear-gradient(to bottom, #0000ff 85%, #ffffff 15%);
}
header {
    padding: 10px 0;
    align-items: baseline;
}
nav {

    margin-left: auto;
    justify-self: flex-end;
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.logo{
    width: 40px;
    justify-self: baseline;

}
header p {
    align-self: flex-start;
    justify-self: flex-start;
    color: #ffffff;
    cursor: pointer;
}
nav a {
    text-decoration: none;
    color: #ffffff;

}
.main {
 
    align-self: center;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}
.main h1 {
    font-size: 1.5rem;
    color: #ffffff;
}
.main h2 {
    padding: 1.5rem 0;
    font-weight: 100;
    font-size: medium;
    color: #ffffff;
}
.join {
    align-self: flex-end;
    padding: 10px 25px;
    font-size: 1.24rem;
    border-radius: 25px;
    background-color: rgb(15, 36, 226);
    color: white;
}

.section {
           /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(38, 240, 232, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.8px);
    -webkit-backdrop-filter: blur(0.8px);
    border: 1px solid rgba(2, 58, 14, 0.71);
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
}
.aside img {
    border-radius: 50%;
    width: auto;
    height: auto;
}
.testimonials {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 2%;
}

.person {
    display: flex;
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.first {
    background-color: #0c70aa;
}
.second {
    background-color: #0047AB;
    margin: 0 10px;
}
.third {
    background-color: #0c70aa;

}
.person img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.person p {
    font-size: 0.8rem;
    margin: 10px;
    color: #ffffff;
}